p {
    background-color : #31525B;   
    background-color : #B3DEE5;   
    background-color : #FFA101;   
    background-color : #FAE6B1;   
}
p {
    background-color : #FFF9E9;   
    background-color : #82B803;   
    background-color : #FFA101;   
    background-color : #FF6C02;   
}
